<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
<script type="text/javascript" src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/css3pie/2.0beta1/PIE_IE678.js"></script>
<![endif]-->
<link type="text/css" rel="stylesheet" href="{#$base_path#}css/H-ui.css"/>
<link type="text/css" rel="stylesheet" href="{#$base_path#}css/H-ui.admin.css"/>
<link type="text/css" rel="stylesheet" href="{#$base_path#}font/font-awesome.min.css"/>
<!--[if IE 7]>
<link href="http://www.bootcss.com/p/font-awesome/assets/css/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<title>添加游戏</title>
</head>
<body>
<div class="pd-20">
  <div class="Huiform">
    <form action="game_add.php" method="post">
      <table class="table table-border table-bordered table-bg">
        <tbody>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 游戏名称：</th>
            <td><input type="text" style="width:200px" class="input-text" value="" placeholder="" id="game_name" name="game_name" datatype="*2-16" nullmsg="游戏名不能为空"></td>
          </tr>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 游戏版本：</th>
            <td><input type="text" style="width:200px" class="input-text" value="" placeholder="" id="game_version" name="game_version" datatype="*1-16" nullmsg="请输入游戏版本号 如: 1.0"></td>
          </tr>
          <tr>
            <th class="text-r"><span class="c-red">*</span> 公司：</th>
            <td><input type="text" style="width:300px" class="input-text" value="" placeholder="" id="game_company" name="game_company"></td>
          </tr>
          <tr>
            <th></th>
            <td><button class="btn btn-success radius" type="submit" name="submit"><i class="icon-ok"></i> 确定</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{#$base_path#}js/Validform_v5.3.2_min.js"></script> 
<script type="text/javascript" src="{#$base_path#}js/H-ui.js"></script> 
<script type="text/javascript" src="{#$base_path#}js/H-ui.admin.js"></script> 
<script type="text/javascript">
$(".Huiform").Validform(); 
</script>
</body>
</html>